%a{ href: '/' } back

%form.post{ action: action, method: 'post' }
  Book Title:
  %input{ name: 'post[title]', type: 'text' }
  ISBN:
  %input{ name: 'post[isbn]', type: 'text' }
  %input{ type: 'submit', value: 'Add' }

%ul
  - each b in books
    %li
      = b.title
      -
      = b.isbn
