<?xml version='1.0' encoding='utf-8'?>

<plugin id="echo-plugin" version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>Echo</name>

  <js-module name="echo" src="www/echo.js">
    <clobbers target="Echo" />
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="EchoPlugin">
        <param name="android-package" value="sample.EchoPlugin" />
      </feature>
    </config-file>

    <source-file src="src/android/EchoPlugin.java" target-dir="src/sample" />
  </platform>
</plugin>