<configuration>
	<system.web>
		<compilation debug="true" batch="false">
			<assemblies>
				<add assembly="Microsoft.Web.IronPython, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
		<pages compilationMode="Auto" pageParserFilterType="Microsoft.Web.IronPython.UI.NoCompileCodePageParserFilter"/>
		<httpHandlers>
			<add path="Web_*.py" verb="*" type="Microsoft.Web.IronPython.SimpleHandler"/>
			<add path="*.py" verb="*" type="System.Web.HttpForbiddenHandler" validate="true"/>
		</httpHandlers>
		<httpModules>
			<add name="DynamicLanguageHttpModule" type="Microsoft.Web.IronPython.DynamicLanguageHttpModule"/>
		</httpModules>
		<trust level="Full"/>
	</system.web>
</configuration>
