<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>PC</div>
    <div><%=title></div>
    
    <% var name = (name)? name: 'aaa' %>
    <div><%= name %></div>
  </body>
</html>