!!! 5
%html
  %head
    %title Ratpack + JHaml + Morphia Sample
    %meta(charset="UTF-8")
  %body
    .menu Menu
    %ul
      %li
        %a(href="books")
          Books List
      %li
        %a(href="users")
          Users List


    .list Book Comments
    %form.post(action='comments' method='post')
      %select(name='user')
        - users.each
          %option(value='${it.id}')= it.name

      %select(name='book')
        - books.each
          %option(value='${it.id}')= it.title

      %input(name='content' type='text')
      %input(type='submit' value='Add')

    - books.each
      %ul
        %li= it.title
        %ul
          - it.comments.each
            %li
              ${it.content} : ${it.user.name}, ${it.createdDate}
          /
