<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>image chat sample</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")" />
	<script src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
	<script src="@routes.Assets.at("javascripts/index.js")"></script>
</head>
<body>
	<div>
		<textarea id="message" cols="50" rows="2" ></textarea>
		<img id="image" src="" width="32" height="32" />
		<br />
		<button id="sendMessage">send</button>
	</div>

	<div>
		<ul id="list"></ul>
	</div>

</body>
</html>